/*
Theme Name: Plagiarism Detector
Author: Marcone Melo
Author URI: https://www.linkedin.com/in/marconemm/
Version: 1.0

-----------
STRUCTURE:
-----------
**** @imports
**** VARIABLES DECLARATION
**** GENERAL CONFIG
**** BODY
**** HEADER
**** HOME PAGE
**** FOOTER
**** @media
*/

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

/* VARIABLES DECLARATION: */

:root {
	--gray-50: #f7f8fa;
	--gray-100: #e6e8eb;
	--gray-200: #afb2b1;
	--gray-500: #808080;
	--gray-800: #494d4b;
	--green-500: #04d361;
	--purple-300: #9f75ff;
	--purple-400: #9164fa;
	--purple-500: #8257e5;
	--purple-800: #6f48c9;

	--font-family-PermanentMarker: "Permanent Marker", cursive;
	--font-family-Comfortaa: "Comfortaa", cursive;
	--transition-time: 150ms;
	--border-radius: 10px;
	--button-width: 220px;
	--button-height: 50px;
}

/* GENERAL CONFIG: */

.displayFlex {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

.displayFlex--col {
	flex-flow: column wrap;
}

.displayGrid {
	display: grid;
	align-items: center;
	justify-content: center;
}

.displayGrid--mobile {
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(14, 1fr);
}

.italic {
	font-style: italic;
}

.hidden {
	display: none;
}
.btn {
	cursor: pointer;
}

body,
input,
textarea,
button {
	font-weight: 500;
	font-size: 1rem;
	font-family: Inter, sans-serif;
    color: var(--gray-500);
}

h1,h2,h3,h4,h5,h6{
font-weight: 600;
font-family: Lexend, sans-serif;
color: var(--gray-800);
}

/*BODY: */

body {
	width: 100vw;
	min-height: 100vh;
	background-color: var(--gray-50);
}

/*HEADER:*/

/*MAIN PAGE: */

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

/*FOOTER: */

/*@media: */

@media only screen and (min-width: 800px) {
	/* GENERAL CONFIG: */
	/*MAIN*/
	/*FOOTER: */
}

@media only screen and (max-width: 1080px) {
	html {
		font-size: 93.75%;
	}
}

@media only screen and (max-width: 720px) {
	html {
		font-size: 87.5%;
	}
}
