.wrapper {
	background: white;
	height: 6.5rem;
	padding: 2rem 4rem;
	border-bottom: 1px solid var(--gray-100);
	justify-content: space-between;
}

.wrapper p {
	margin-left: 2rem;
	padding: 0.25rem 0 0.25rem 2rem;
	border-left: 1px solid var(--gray-100);
}

.wrapper span {
    margin-left: auto;
    text-transform: capitalize;
}