.wrapper {
	width: 30%;
	height: 100vh;
	padding: 3rem 4rem;
	background: var(--purple-500);
	color: white;
	justify-content: space-between;
}

.wrapper strong {
	font-family: Lexend, sans-serif;
	font-weight: 600;
}

.wrapper > header {
	flex-flow: initial;
	justify-content: initial;
}

.wrapper > header > img {
	margin-right: 1rem;
}

.wrapper > footer {
	align-self: stretch;
}

.wrapper > footer.empty {
	opacity: 0.5;
}

.wrapper > .emptyPlayer {
	width: 100%;
	height: 20rem;
	border: 2px dashed var(--purple-300);
	border-radius: 1.5rem;
	background: linear-gradient(
			144deg,
			rgba(145, 100, 250, 0.8) 0%,
			rgba(0, 0, 0, 0)
		)
		100%;
	text-align: center;
}

.wrapper > footer > .progress {
	width: 100%;
	flex-flow: unset;
	justify-content: space-between;
	font-size: 0.875rem;
}

.wrapper > footer > .progress > span {
	/*display: inline-block; */
	width: 4rem;
	text-align: center;
}

.wrapper > footer > .progress > .slider {
	flex: 1;
}

.wrapper > footer > .progress > .slider > .emptySlider {
	width: 100%;
	height: 0.25rem;
	background: var(--purple-300);
	border-radius: 0.125rem;
}

.wrapper > footer > nav > .btn {
	/* justify-content: center; */
	margin-top: 1rem;
	background: transparent;
	border: none;
	/* font-size: 0; */
}
.wrapper > footer > nav > .btnPlay {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 1rem;
	background: var(--purple-400);
}
.wrapper > footer > nav > .podcastNavigation {
}
